<div [@routerTransition]>
	<div class="row">
        <div class="col-lg-6">
            <form role="form">
                <fieldset class="form-group">
                    <label>Campo</label>
                    <input class="form-control">
                </fieldset>
				<fieldset class="form-group">
                    <label>Campo</label>
                    <input class="form-control" placeholder="Enter text">
                </fieldset>
				
				 <button type="submit" class="btn btn-secondary">Submit Button</button>
			</form>
		</div>
	</div>
</div>